.todoList {
  padding: 3rem;
}

.todoListContainer {
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
